* { -webkit-hyphens: none; }
div {
	
}
body {
	font: {
		family: $font-title;
	}
}
.clear {clear: both;}
.wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 20px;
	// overflow: hidden;
	
	@media screen and (min-width: $tabwidth) {
		width: 100%
	}
	@media screen and (min-width: $midwidth) {
		padding: 0 10px;
	}
	@media screen and (min-width: $deskwidth) {
		width: 90%;
		padding: 0px;
	}
}
.wrapper-form {
	width: 100%;
	margin: 0px auto;
	padding: 20px;
	// overflow: hidden;
	
	@media screen and (min-width: $tabwidth) {
		width: 100%
	}
	@media screen and (min-width: $midwidth) {
		padding: 0 10px;
	}
	@media screen and (min-width: $deskwidth) {
		width: 50%;
		padding: 0px;
		float: left;
	}
}
.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 60%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	background-color: #fff;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin:140px 0 0 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
	ul {
		margin: 0 0 20px 0;
		list-style-type: none;
	}
	.cta {
		background-color: $color-grey;
		padding: 5%;
		h3 {
			color: $color-cream;
			font-size: 24px;
		}
		.copy {
			color: #fff;
		}
	}
}

header#masthead {
	background-color: $color-grey;
	width: 100%;
	overflow: hidden;
	.flexwrap {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		@media screen and (min-width: $midwidth) {
			flex-wrap: nowrap;
			justify-content: flex-end;
			align-items: center;
		}
	}
	// section.header-contact {
	// 	width: auto;
	// 	line-height: 7;
	// 	padding: 0 0 0 10px;
	// 	@media screen and (min-width: $tabwidth) {
	// 		border-left: 1px solid $color-cream;
	// 		order: 3;
	// 	}
	// 	.envelope {
	// 		width: auto;
	// 		float: left;

	// 	}
	// 	.telly {
	// 		width: auto;
	// 		float: left;
	// 	}
	// 	.envelope, .telly {
	// 		a {
	// 			display: block;
	// 			// align-items: center;
	// 			text-decoration: none;
	// 			padding: 10px 0px;
	// 			color: $color-cream;
	// 			@include transition(all ease .4s);
	// 			@media screen and (min-width: $tabwidth) {
	// 				padding: 0% 20px;
	// 			}
	// 			@media screen and (min-width: $deskwidth) {
	// 				padding: 0% 20px;
	// 			}
	// 			&:hover {
	// 				background-color: rgba(#fff, 1);
	// 				color: $color-black;
	// 			}
	// 		}
	// 	}
	// }
}
#primary {
	margin: 40px 0 0px 0;
}
/* Logo */
.logo , h1.logo {
	width: 300px;
	// background-image: url(images/logo.png);	
	margin: 10px auto;
	@media screen and (min-width: $tabwidth) {
		width: 200px;
	}
	@media screen and (min-width: $midwidth) {
		width: 250px;
		float: left;
		margin: 0 auto 0 0;
		align-self: flex-start;
		order: 1;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
		width: 300px;
	}
}
.logo a, h1.logo a {
	
	display: block;

	@media screen and (min-width: $tabwidth) {
		
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
.site-footer {
	width: 100%;
	clear: both;
	background-color: $color-grey;
}
.center {
	text-align: center;
}
.footer-contact {
	width:100%;
	margin: 0px auto;
	text-align: center;
	padding: 30px 0;
	overflow: hidden;
	@media screen and (min-width: $tabwidth) {
		width:70%;
	}
	@media screen and (min-width: $midwidth) {
		width:60%;
	}
	@media screen and (min-width: $deskwidth) {
		width:50%;
	}
	.left, .right {
		float: left;
		padding: 0 5%;
		width:50%;
		color: $color-cream;
		@media screen and (min-width: $tabwidth) {
			
			display: inline-block;
		}
		@media screen and (min-width: $midwidth) {
		
		}
		@media screen and (min-width: $deskwidth) {
			
		}
		a {
			color: $color-cream;
			text-decoration: none;
		}
		.phone {
			font-size: 16px;
			@media screen and (min-width: $tabwidth) {
				font-size: 18px;
			}
			@media screen and (min-width: $midwidth) {
				font-size: 24px;
			}
			@media screen and (min-width: $deskwidth) {
				font-size: 30px;
			}
		}
		h3 {
			font-size: 20px;
			text-transform: uppercase;
			margin: 0;
			color: $color-cream;
			@media screen and (min-width: $tabwidth) {
				font-size: 20px;
			}
			@media screen and (min-width: $midwidth) {
				font-size: 24px;
			}
			@media screen and (min-width: $deskwidth) {
				font-size: 30px;
			}
		}
	}
	.right {
		border-left: 1px solid $color-cream;
	}
}
.bottomnav {
	width: 100%;
	clear: both;
	text-align: center;
	border-top: 1px solid $color-cream;
	padding: 30px 0 30px 0;
	.menu {
		@media screen and (min-width: $tabwidth) {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
		}
	}
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		display: inline-block;
		text-transform: uppercase;
		width: 100%;
		@media screen and (min-width: $tabwidth) {
			font-size: 14px;
			width: auto;
		}
		@media screen and (min-width: $midwidth) {
			font-size: 18px;
		}
		@media screen and (min-width: $deskwidth) {
			font-size: 20px;
		}
		a {
			color: $color-cream;
			text-decoration: none;
			padding: 20px 5px;
		}
	}
}
.creds {
	width: 100%;
	padding: 40px 0 100px 0;
	font-size: 12px;
	color: $color-cream;
	a {
		color: $color-cream;
	}
}
.button-wrapper {
	width: 100%;
	padding: 30px 0;
}
.button, .button-white, input.button {
	width: auto;
	display: inline-block;
	margin: 0 5px 10px 0;
	a {
		display: inline-block;
		padding: 10px 20px;
		text-transform: uppercase;
		color: $color-grey;
		text-decoration: none;
		line-height: 2;
		&:hover {
			@include transition(all ease .3s);
		}
	}
}
.button {
	a {
		background-color: $color-yellow;
		border: 1px solid $color-grey;
		&:hover {
			background-color: $color-grey;
			color: $color-yellow
		}
	}
}
input.button {
	
		background-color: $color-yellow;
		border: 1px solid $color-grey;
		border-radius: 0;
		padding: 10px 20px;
		text-shadow: none;
		box-shadow: none;
		text-transform: uppercase;
		&:hover {
			background-color: $color-grey;
			color: $color-yellow;
			text-shadow: none;
			box-shadow: none;
		}
	
}
.button-white {
	a {
		background-color: #fff;;
		border: 1px solid $color-grey;
		&:hover {
			background-color: $color-grey;
			color: $color-yellow
		}
	}
}
.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=image], .gform_wrapper .gform_footer input[type=submit] {
	background-color: $color-yellow;
		border: 1px solid $color-grey;
		border-radius: 0;
		padding: 10px 20px;
		text-shadow: none;
		box-shadow: none;
		&:hover {
			background-color: $color-grey;
			color: $color-yellow
		}
}
.banner {
	width: 100%;
	line-height: 0;
	img {
		width: 100%;
	}
}
nav.services {
	background-color: $color-cream;
	width: 100%;
	overflow: hidden;
	ul {
		
		margin: 0;
		padding: 0;
		@media screen and (min-width: $tabwidth) {
			flex-direction: row;
			justify-content: center;
			align-items: stretch;
			display: flex;
		}
	}
	li {
		padding: 0;
		margin: 0;
		list-style-type: none;
		border-right: 1px solid $color-grey;
		text-align: center;
		width: 100%;
		@media screen and (min-width: $tabwidth) {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			width: auto;
		}
		&:last-child a {
			border-right: 0;
		}
	}
	a {
		color: $color-grey;
		text-decoration: none;
		padding: 5%;
		
		display: block;
		&:hover {
			background-color: rgba(#fff, 1);
		}
	}
	.icon {
		width: 40px;
		// height: 100px;
		img, svg, i {max-width: 100%;}
		margin: 10px auto;
		display: none;
		@media screen and (min-width: $tabwidth) {
			width: 40px;
			height: 40px;
			display: block;
		}
		@media screen and (min-width: $midwidth) {
			// width: 60px;
			// height: 60px;
		}
		@media screen and (min-width: $deskwidth) {
			// width: 100px;
			// height: 80px;
		}
	}
	h3 {
		margin: 0;
		text-transform: uppercase;
		font-size: 16px;
		@media screen and (min-width: $tabwidth) {
			font-size: 14px;
		}
		@media screen and (min-width: $midwidth) {
			font-size: 14px;
		}
		@media screen and (min-width: $deskwidth) {
			font-size: 16px;
		}
	}

}
.dog {
	width: 450px;
	margin: 0px auto 0 auto;
	clear: both;
	line-height: 0;
	padding-top: 40px;
}
.social-links {
	padding: 40px 0;
	text-align: center;
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	li {
		display: inline-block;
		width: auto;
		margin: 0 10px;
		width: 50px;
		height: 50px;
	}
	a {
		color: $color-cream;
		text-decoration: none;
		transform: scale(1);
		display: block;
		&:hover {
			transform: scale(1.1);
		}
	}
}
.sticky-footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 5px 0 5px 0;
	// background-color: $color-grey;
	// border-top: 5px solid #000;
	border-top: 1px solid $color-cream;
	text-align: center;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
	background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	.button {
		margin: 0 5px 0px 0;
	}
}
.footbutts {
	width: 100%;
	padding: 40px 0 20px 0;
}
#message {
	width: auto;
	display: block;
	margin-bottom: 10px;
}
.featuredimage {
	width: 100%;
	line-height: 0;
	margin: 0 0 20px 0;
	img {
		width: 100%;
	}
}



