* { -webkit-hyphens: none; }
div {
	
}
body {
	font: {
		family: $font-title;
	}
}
.clear {clear: both;}
.wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 20px;

	
	@media screen and (min-width: $tabwidth) {
		width: 100%
	}
	@media screen and (min-width: $midwidth) {
		padding: 0 10px;
	}
	@media screen and (min-width: $deskwidth) {
		width: 90%;
		padding: 0px;
	}
}

.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
header#masthead {
	background-color: $color-grey;
	width: 100%;
	overflow: hidden;
	.flexwrap {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		@media screen and (min-width: $midwidth) {
			flex-wrap: nowrap;
			justify-content: flex-end;
			align-items: center;
		}
	}
	// section.header-contact {
	// 	width: auto;
	// 	line-height: 7;
	// 	padding: 0 0 0 10px;
	// 	@media screen and (min-width: $tabwidth) {
	// 		border-left: 1px solid $color-cream;
	// 		order: 3;
	// 	}
	// 	.envelope {
	// 		width: auto;
	// 		float: left;

	// 	}
	// 	.telly {
	// 		width: auto;
	// 		float: left;
	// 	}
	// 	.envelope, .telly {
	// 		a {
	// 			display: block;
	// 			// align-items: center;
	// 			text-decoration: none;
	// 			padding: 10px 0px;
	// 			color: $color-cream;
	// 			@include transition(all ease .4s);
	// 			@media screen and (min-width: $tabwidth) {
	// 				padding: 0% 20px;
	// 			}
	// 			@media screen and (min-width: $deskwidth) {
	// 				padding: 0% 20px;
	// 			}
	// 			&:hover {
	// 				background-color: rgba(#fff, 1);
	// 				color: $color-black;
	// 			}
	// 		}
	// 	}
	// }
}
/* Logo */
.logo , h1.logo {
	width: 300px;
	background-image: url(images/logo.png);	
	margin: 10px auto;
	@media screen and (min-width: $tabwidth) {
		width: 200px;
	}
	@media screen and (min-width: $midwidth) {
		width: 250px;
		float: left;
		margin: 0 auto 0 0;
		align-self: flex-start;
		order: 1;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
		width: 300px;
	}
}
.logo a, h1.logo a {
	
	display: block;

	@media screen and (min-width: $tabwidth) {
		
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
.site-footer {
	width: 100%;
	clear: both;
}
.button, .button-white {
	width: auto;
	a {
		
		padding: 10px 20px;
		text-transform: uppercase;
		color: $color-grey;
		text-decoration: none;
		&:hover {
			@include transition(all ease .3s);
		}
	}
}
.button {
	a {
		background-color: $color-yellow;
		border: 1px solid $color-grey;
		&:hover {
			background-color: $color-grey;
			color: $color-yellow
		}
	}
}
.button-white {
	a {
		background-color: #fff;;
		border: 1px solid $color-grey;
		&:hover {
			background-color: $color-grey;
			color: $color-yellow
		}
	}
}