.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
section.home-services {
	width: 100%;
	background-color: $color-cream;
	padding: 40px 0;
	@media screen and (min-width: $tabwidth) {

	}
	@media screen and (min-width: $deskwidth) {
	}
	h2 {
		width: 100%;
		text-align: center;
	}
	.flexwrap {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		@media screen and (min-width: $tabwidth) {
			flex-wrap: wrap;
			align-items: flex-start;
			flex-direction: row;
			justify-content: space-around
		}
	}
	.service {
		text-align: center;
		flex-basis: 100%;
		padding: 10px;
		margin: 20px auto;
		@media screen and (min-width: $tabwidth) {
			flex-basis: 40%;
			margin :0 0 40px 0;
		}
		@media screen and (min-width: $midwidth) {

		}
		@media screen and (min-width: $deskwidth) {
			flex-basis: 25%;
			padding: 20px;
		}
		.icon {
			width: 100px;
			height: 100px;
			img, svg {width: 100%;}
			margin: 10px auto;
		}
		h3 {
			width: 100%;
			text-transform: uppercase;
		}
	}
}
.testimonials, .join {
	width: 100%;
	display: flex;
	@media screen and (min-width: $tabwidth) {
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: stretch;
	}
	.left, .right {
		width: 100%;
		line-height: 0;
		@media screen and (min-width: $tabwidth) {
			flex-basis: 50%;
		}
		img {
			width: 100%;
			line-height: 0;
		}
		// h3 {
		// 	font-size: 20px;
		// 	text-transform: uppercase;
		// 	@media screen and (min-width: $tabwidth) {
		// 		font-size: 20px;
		// 	}
		// 	@media screen and (min-width: $midwidth) {
		// 		font-size: 24px;
		// 	}
		// 	@media screen and (min-width: $deskwidth) {
		// 		font-size: 30px;
		// 	}
		// }
		p {
			font-size: 20px;
			line-height: 1.4;
			padding: 0 0 40px 0;
			@media screen and (min-width: $tabwidth) {
				font-size: 14px;
			}
			@media screen and (min-width: $midwidth) {
				font-size: 16px;
			}
			@media screen and (min-width: $deskwidth) {
				font-size: 20px;
			}
		}
		h2 {
			padding: 0 0 40px 0;
		}
	}
	.padding {
		padding: 30px;
		@media screen and (min-width: $tabwidth) {
			padding:60px;
		}
		@media screen and (min-width: $midwidth) {
			padding: 70px;
		}
		@media screen and (min-width: $deskwidth) {
			padding: 80px;
		}
	}
}
.join {
	.right {
		background-color: $color-yellow;
	}
}