.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
section.page-services {
	background-color: #fff;
}
section.home-services {
	background-color: $color-cream;
}
section.home-services, .page-services {
	width: 100%;
	
	padding: 40px 0;
	@media screen and (min-width: $tabwidth) {

	}
	@media screen and (min-width: $deskwidth) {
	}
	h2 {
		width: 100%;
		text-align: center;
	}
	.flexwrap {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		@media screen and (min-width: $tabwidth) {
			flex-wrap: wrap;
			align-items: flex-start;
			flex-direction: row;
			justify-content: space-around
		}
	}
	.service {
		text-align: center;
		flex-basis: 100%;
		padding: 10px;
		margin: 20px auto;

		@media screen and (min-width: $tabwidth) {
			flex-basis: 40%;
			margin :0 0 40px 0;
			display: flex;
			flex-flow: column nowrap;
		}
		@media screen and (min-width: $midwidth) {

		}
		@media screen and (min-width: $deskwidth) {
			flex-basis: 25%;
			padding: 20px;
		}
		.icon {
			width: 100px;
			height: 100px;
			img, svg {width: 100%;}
			margin: 10px auto;
		}
		h3 {
			width: 100%;
			text-transform: uppercase;
			
		}
		.button {
			align-self: flex-end;
			margin: auto;
		}
	}
}
.testimonials {
	border-top: 10px solid $color-grey;
}
.testimonials, .join {
	width: 100%;
	display: flex;
	flex-direction: column;
	@media screen and (min-width: $tabwidth) {
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: stretch;
	}
	.left, .right {
		width: 100%;
		line-height: 0;
		@media screen and (min-width: $tabwidth) {
			flex-basis: 50%;
		}
		img {
			width: 100%;
			line-height: 0;
		}
		// h3 {
		// 	font-size: 20px;
		// 	text-transform: uppercase;
		// 	@media screen and (min-width: $tabwidth) {
		// 		font-size: 20px;
		// 	}
		// 	@media screen and (min-width: $midwidth) {
		// 		font-size: 24px;
		// 	}
		// 	@media screen and (min-width: $deskwidth) {
		// 		font-size: 30px;
		// 	}
		// }
		p {
			font-size: 20px;
			line-height: 1.4;
			padding: 0 0 10px 0;
			@media screen and (min-width: $tabwidth) {
				font-size: 14px;
				padding: 0 0 20px 0;
			}
			@media screen and (min-width: $midwidth) {
				font-size: 16px;
				padding: 0 0 30px 0;
			}
			@media screen and (min-width: $deskwidth) {
				font-size: 20px;
				padding: 0 0 40px 0;
			}
		}
		h2 {
			padding: 0 0 10px 0;
			line-height: 1.2;
			@media screen and (min-width: $tabwidth) {
				padding: 0 0 20px 0;
			}
			@media screen and (min-width: $midwidth) {
				padding: 0 0 30px 0;
			}
			@media screen and (min-width: $deskwidth) {
				padding: 0 0 40px 0;
			}
		}
	}
	.padding {
		padding: 30px;
		@media screen and (min-width: $tabwidth) {
			padding:20px;
		}
		@media screen and (min-width: $midwidth) {
			padding: 70px;
		}
		@media screen and (min-width: $deskwidth) {
			padding: 80px;
		}
	}
}
.join {
	.right {
		background-color: $color-yellow;
	}
}
.service-content {
	width: 100%;
	@media screen and (min-width: $tabwidth) {
		width: 45%;
		float: left;
	}
}
.rates {
	width: 100%;
	@media screen and (min-width: $tabwidth) {
		width: 45%;
		float: right;
		margin: 30px 0 0 0;
	}
	h2 {

	}
	.rate-box {
		padding: 5%;
		background-color: $color-cream;
		-webkit-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.63);
		-moz-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.63);
		box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.63);
		.row {
			width: 100%;
			border-bottom: 1px solid #ccc;
			padding: 3px 0;
			overflow: hidden;
			&.first {
				background-color: #fff;
			}
		}
		.desc {
			width: 80%;
			float: left;
			@media screen and (min-width: $tabwidth) {
				width: 80%;
			}
			@media screen and (min-width: $midwidth) {
				width: 80%;
			}
			@media screen and (min-width: $deskwidth) {
				width: 80%;
			}
		}
		.price {
			width:20%;
			float: right;
			text-align: right;
			@media screen and (min-width: $tabwidth) {
				width: 20%;
			}
			@media screen and (min-width: $midwidth) {
				width: 20%;
			}
			@media screen and (min-width: $deskwidth) {
				width: 20%;
			}
		}
		.disclaimer {
			width: 100%;
			clear: both;
			font-size: 13px;
		}
		.desc, .price {
			font-size: 14px;
			@media screen and (min-width: $tabwidth) {
				font-size: 14px;
			}
			@media screen and (min-width: $midwidth) {
				font-size: 16px;
			}
			@media screen and (min-width: $deskwidth) {
				font-size: 18px;
			}
		}
	}
}
.faqrow {
	width: auto;
	overflow: hidden;
	margin: 0 0 20px 0;	
	background-color: rgba(255,255,255,.05);
	border-radius: 10px;
}
.question {
	width: auto;
	float:left;
	margin: 10px;
	background-color: $color-cream;
	font-weight: bold;
	font-size: 20px;
	cursor:pointer;	
	line-height: 1.3;
	position: relative;
	padding: 5px 5px 5px 20px ;
	.question-image {
		width: 15px;
		height: 15px;
		position: absolute;
		left: 0px;
		top: 10px;
		background-image: url(images/arrow.png);
		background-repeat: no-repeat;
		background-position: 0 0;	
		// @include transition(all ease .3s);
	}
	&.close {
		.question-image {
			background-position: -15px 0;	
		}
	}
	
}

.answer {
	width: auto;
	float:left;
	margin: 10px;
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	line-height: 1.3;
	padding: 0 0 0 40px;
	display:none;
}
.join-left {
	width: 100%;
	margin: 0 0 30px 0;
	@media screen and (min-width: $tabwidth) {
		width: 45%;
		float: left;

	}
}
.join-right {
	width: 100%;
	margin: 0 0 30px 0;
	@media screen and (min-width: $tabwidth) {
		width: 45%;
		float: right;
		padding: 40px 0 0 0;
	}
}




